<app-languages-list 
  [selectedLanguage]="selectedLanguage"
  (languageChanged)="changeLanguage($event)"
  >
</app-languages-list>
<form class='flex flex-col gap-4' (submit)="traslateText()">
  <div class="translation flex flex-col md:flex-row p-8 ">
    <div class="form-group flex flex-1 justify-between items-start focus:outline-none border border-transparent border-t-indigo-50 p-4 h-60">
      <textarea
        name='inputText'
        class="form-control flex-1 resize-none outline-none"
        [(ngModel)]="inputText"
        (ngModelChange)="traslateText()"
        id="inputText" 
        rows="5"
        placeholder='Type your text here...'
        ></textarea>
        <fa-icon *ngIf="inputText" [icon]="icons.faXmark" (click)="resetTranslation()" class='cursor-pointer text-sky-950'></fa-icon>
    </div>
    <div class="form-group flex flex-1 justify-between items-start bg-indigo-50 focus:outline-none border border-transparent border-t-indigo-50 p-4 h-60">
      <textarea
        class="form-control flex-1 resize-none outline-none border-transparent border-t-indigo-50 bg-indigo-50"
        id="outputText" 
        rows="5" 
        [value]="translatedText" 
        readonly 
      ></textarea>
      <fa-icon *ngIf="!isSavedTranslation && inputText" [icon]="icons.faStar" (click)='saveTranslation()' class='cursor-pointer text-sky-950'></fa-icon>
      <fa-icon *ngIf="isSavedTranslation && inputText" [icon]="icons.faStarSolid" (click)='removeSavedTranslation()' class='cursor-pointer text-sky-950'></fa-icon>
    </div>
  </div>
</form>