<app-languages-list 
  [selectedLanguage]="selectedLanguage"
  (languageChanged)="changeLanguage($event)">
</app-languages-list>
<form class='flex flex-col gap-4' (submit)="traslateText()">
  <div class="translation flex flex-col md:flex-row p-8 ">
    <div class="form-group flex flex-col flex-1 gap-2">
      <textarea
        name='inputText'
        class="form-control focus:outline-none border border-transparent border-t-indigo-50 resize-none p-4 h-60"
        [(ngModel)]="inputText"
        (ngModelChange)="traslateText()"
        id="inputText" 
        rows="5"
        placeholder='Type your text here...'
        ></textarea>
    </div>
    <div class="form-group flex flex-col flex-1 gap-2">
      <textarea
        class="form-control bg-indigo-50 focus:outline-none border border-transparent border-t-indigo-50 resize-none p-4 h-60"
        id="outputText" 
        rows="5" 
        [value]="translatedText" 
        readonly 
      ></textarea>
    </div>
  </div>
</form>
